{{template "base" . }}
{{define "content"}}
<div class="container-xxl">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class = "mt-4">
                <h3>Kiwipanel</h3>
                <p>Song Ngữ đăng tải các bài viết song ngữ, hỗ trợ học tiếng Anh, luyện dịch.</p>                
                <p>Xin liên hệ nếu quý vị muốn trao đổi về các bài viết, bài dịch của mình. Xin cáo lỗi vì những điều bất tiện nếu có.</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{{end}}