[Unit]
Description=KiwiPanel Server
After=network.target

[Service]
Type=simple
User=kiwipanel
Group=kiwisecure

# Working directory (folder, not binary) (Because the binary need files inside this folder)
WorkingDirectory=/opt/kiwipanel

ExecStart=/opt/kiwipanel/bin/kiwipanel start

Restart=always
RestartSec=5s

# Security best practices
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
