{{define "login"}}
{{template "base" . }}
<div class="container-xxl d-flex justify-content-center align-items-center vh-100">
    <div class="row w-50 border p-5">
        <div class="col-10">
            <div class = "mt-4">
                <form action='/home/login' method='POST'>
                    <div class="form-group">
                      <h3 class = "text-center">KiwiPanel</h3>
                      <label for="exampleInputEmail1 pb-4">Username:</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">Use your usename generated to login.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      <small id="emailHelp" class="form-text text-muted">Use your password generated to login.</small>

                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Login</button>
                  </form>
                
            </div>
    </div>
</div>

{{end}}

